# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
*.egg-info/
.env
.env.*

# Dati (troppo grandi per git)
*.bmp
*.xlsx
*.csv
data/raw/*
data/interim/*
!data/processed/*.csv


# Modelli addestrati
models_trained/*
*.pth
*.h5
*.pkl

# Log
logs/*
*.log

# Jupyter
.ipynb_checkpoints/
*.ipynb

# IDE
.vscode/
.idea/
.github/
.claude/
# OS
.DS_Store
Thumbs.db

# Eccezioni (file da committare)
!.gitignore
!docs/*
!templates/*
!src/**/*.py
!README.md
!data/interim/analisi_statistica_per_attributo/
!data/interim/vocabolari_bozza_per_attributo/
!data/interim/vocabolari_validati_per_attributo/
.agents/
skills-lock.json